<%= render('shared/header') %>

<section>
  <div class="flex flex-row justify-between align-center">
    <h2 class="text-xl font-bold mb-4">Все чеки за <%= Time.now.strftime('%d.%m.%Y') %></h2>
  </div>

  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">ID</th>
        <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Телефон</th>
        <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Аттракцион</th>
        <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Количество</th>
        <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Сумма</th>
        <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Действия</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-300">
      <% @receipts.each do |receipt| %>
        <tr class="<%= cycle('bg-gray-50', 'bg-white') %>">
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"><%= receipt.id %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 font-bold"><%= receipt.client_phone %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"><%= receipt.attraction.name %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"><%= receipt.quantity %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"><%= receipt.total_price %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
            <%= link_to('Открыть', receipt, class: 'text-blue-500 font-bold underline') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
